{% extends '_base.html' %}
{% block content %}

<html>
    <head>
        <title>Registration Page</title>
        <link rel = "login_sheet"href="login_sheet_styles">
    </head>
    <body>
        <div class="main">
            <div class = "box">
                <form class="input">
                    <input type="text" id = "username" class = "input-field" placeholder="Username"
                    required>
                    <input type="text" id = "password" class = "input-field" placeholder="Password"
                    required>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type = "submit" class="register-btn">Register</button>
                </form>
            </div>
        </div>
        <script src="/static/authentication.js"></script>

    </body>
</html>

{% endblock %}